body {
  max-width: 80em;  /*1280px*/
  margin: 0 auto;
}
h1{
padding-right: 1em;
}
h2, h4 {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}
  .pure-g div, 
  .pure-g article,
  .pure-g aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p{
margin: 0;
}
.tabs {
  position: relative;   
  min-height: 15em; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 0.625em; 
  border: 1px solid #ccc; 
  margin-left: -0.0625em; 
  position: relative;
  left: 0.0625em; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 1.75em;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 1.25em;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
            /*  
                ATHUGIÐ! pure-u~ klasar eru hannaðir sem ílát fyrir annað efni. 
                EKKI setja útlitsstíla á þá (t.d. border, því þá riðlast uppbyggingin). 
                Þó má gera undantekningu á því, t. d. á meðan hönnun vefsins stendur yfir.            
            */ 

.custom-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9c90;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    z-index: 100;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 11em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: right;
    }

    .custom-toggle {
        display: block;
    }
    .tabs{
      min-height: 17em;
      max-width: 25em;
      margin: 25px auto;
    }

}
.main {
    padding: 2em;
    color: black;
}
img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
nav img{
 height: 2em;
}
.pure-menu-heading{
  padding: 0;
}
html {
    min-height: 100%;
    position:absolute;
  top:0; 
  bottom:0; 
  right:0; 
  left:0;
  font-size: 0.9em;
}
body{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin: 0;
  padding-top: 2.1em;
  box-sizing: border-box;
}
form{
  margin: 0;
  margin-bottom: 2em;
  display: inline-block;
}
div:not(.pure-menu)div:not(.pure-u-1), body, h1, h2, h3, h4, p, form{
  box-sizing: border-box;
  margin-bottom: 1em;
}
table{
  margin: 0;
  border-bottom: 1px solid gray;
}
nav{
  text-align: center;
  width: 100%;
}
fieldset{
  margin: 0;
  padding: 0;
  border: none;
}
fieldset input{
  float: right;
}
.notification{
  background-color: green;
  color: white;
  width: 95%;
  text-align: center;
  height: auto;
  background-image: url(../img/x.png);
  background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 40%;
    border-radius: 1em;
    margin: 0.5em 0;
}
#info{
  background-color: lightgray;
  display: inline-block;
  text-align: left;
  width: 15em;
  padding: 1em;
  border-radius: 1em;
  right: 0;
  margin: 0 3.5em;
}
#info h2{
  border-bottom: 1px solid black;
  margin-bottom: 0.3em;
}
#info p{
  margin-bottom: 1em;
}
div{
  display: block;
}
main{
  order: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  max-width: 80em;
  text-align: center;
  align-content: flex-start;
}
form#dagaval{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 30em;
  margin: 0 auto;
}
form#login{
  margin: 0 auto;
}
form#dagaval *{
  margin: 0.25em 0;
}
form#login *, form#register *{
  width: 100%;
}
form#login, form#register{
  display: block;
}
form#register{
  margin: 0;
  padding: 0;
}
.content{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 1.25em;
}
article{
    display: flex;
    flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}
article h1{
  padding: 0;
}
.contentDiv p{
    display: block;
    max-width: 20em;
}
.contentDiv{
    padding: 0.5em;
    box-sizing:border-box;
}
.events{
  order: 3;
  align-items: flex-end;
}
.mainContent{
  order: 1;
  box-sizing: border-box;
  text-align: left;
  padding: 2em;
  max-width: 45em;
  align-items: flex-start;
}
.mainContent div{
  height: 9.5em;
  overflow: hidden;
  margin-bottom: 1em;
}

/* BARA WEBKIT (Chrome og Safari) */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .textGradient{
    background: -webkit-linear-gradient(black, black, rgba(255,255,255,0.5));
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .textSolid{
    background: black;
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  body{
    background-size: cover;
  }
}

/* Index síða (meira og minna) */
.mainContent h1{
  height: 1em;
}
.more{
  display: block;
  max-width: 10em;
}
.signInTabs{
  order: 2;
    width: 100%;
}
#container{
  margin: 0;
}
.mainContent div p{
  padding-bottom: 1em;
}
.mainContent div p:last-child{
  padding-bottom: 0;
}
@media (min-width: 48em) {

    .signInTabs{
      width: 33.33%;
    }
    article{
      width: 66.66%;
    }
    .contentDiv{
      max-width: 50%;
    }
}
@media (min-width: 64em) {
  .contentDiv{
      max-width: 25%;
      width: 20em;
    }
    #container{
    min-width: 50%;
    text-align: right;
    max-width: 80em;
    width: 100%;
  }
  footer{
    position: fixed;
  }
  .events{
    padding-bottom: 5em;
  }
}

.logoDiv{
  display: block;
  text-align: center;
  width: 100%;
  max-height: 5em;
}
.logoDiv img{
  max-height: 5em;
}
@media only screen and (max-width :480px){
  .pure-form input[type=text]{
    margin-bottom:  0;
  }
}
.moreInfo{
  display: none;
}
.moreInfo *{
  position: relative;
  overflow: hidden;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.moreInfo:target{
    display: table-row;
}
.moreInfo:target * {
  max-height: 100em;
}
table{
  max-width: 60em;
}
tr{
  border-top: none;
  border-bottom: 1px solid rgb(203, 203, 203);
  background-color: white;
}
img{
  max-width: 100%;
}
footer{
  text-align: center;
  padding: 1em;
  border-top: 1px solid rgba(203, 203, 203, 0.7);
  border-bottom: 1px solid rgba(203, 203, 203, 0.7);
  order: 999;
    background-color: rgba(240, 240, 240, 0.7);
  bottom:0;
  left:0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer p{
  display: inline-block;
  width: 100%;
}
iframe{
  width: 100%;
  max-width: 32em;
  height: 20em;
  margin: 0 auto;
  max-height: auto;
}
.lightboxcontainer{
  display:none;
  width:32em;
  height:auto;
  max-width:100%;
}
.lightboximg{
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}


/* SLIDESHOW CSS */


.slideshowimage#hidden{
    opacity: 0;
    position: absolute;
    max-height: 0;
}
.slideshowimage#visible{
  opacity: 1;
  position: relative;
  top: 0;
}
#slideshowcontainer div button{
  width: 8em;
  height: 3em;
}
.slideshowimage{
  margin: 0;
    max-width: 100%;
    height: auto;
  -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}
.not-top{
  top: 0;
  right: 0;
}

#slideshow{
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline-block;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
#slideshowcontainer div{
  text-align: center;
  margin: 1em;
}
#slideshowcontainer {
  width: 100%;
}
#slideshowcontainer div a{
  color: white;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  /* use background to simulate buttons */
  display: inline-block;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border: 0.12em solid gray;
  background-color: gray;
  border-radius: 100%;
}
#slideshowcontainer div a:hover {
  background: radial-gradient(white, gray, gray);
  color: black;
}
#slideshowcontainer div a#current {
  background: radial-gradient(white, rgba(0,0,0,0.75));
  color: black;
}


html{
  height: 100%;
}
body, main {
  min-height: 100%;
}

body{
  background-color: #1f6684;  /* BREYTA ÞESSU EF SKIPT ER UM BAKGRUNN*/
  background-image: url("../img/smallbackground.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: fixed;
  margin: 0;
}
main{
  height: inherit;
  display: flex;
  background-color: rgba(255,255,255,0.7);
  background-attachment: fixed;
}
@media (min-width: 48em) {

    body{
      background-image: url("../img/background.jpg");
    }
}