body{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: center;
	margin: 0;
}
form{
	margin: 0;
	display: inline-block;
}
div:not(.pure-menu)div:not(.pure-u-1), body, h1, h2, h3, h4, p, form{
	box-sizing: border-box;
	margin-bottom: 1em;
}
table{
	margin: 0;
	border-bottom: 1px solid gray;
}
nav{
	text-align: center;
	width: 100%;
}
fieldset{
	margin: 0;
	padding: 0;
	border: none;
}
fieldset input{
	float: right;
}
.notification{
	background-color: green;
	color: white;
	width: 100%;
	text-align: center;
	height: auto;
	background-image: url(../img/x.png);
	background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 40%;
    border-radius: 1em;
}
#info{
	background-color: lightgray;
	display: inline-block;
	text-align: left;
	width: 15em;
	padding: 1em;
	border-radius: 1em;
	right: 0;
}
#info h2{
	border-bottom: 1px solid black;
	margin-bottom: 0.3em;
}
#info p{
	margin-bottom: 1em;
}
div{
	display: block;
}
main{
	display: flex;
	flex-wrap: wrap;
	min-width: 50%;
	margin: 0;
	justify-content: space-around;
	text-align: center;
	max-width: 80em;
}
form#dagaval{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	max-width: 30em;
}
form#login *, form#register *{
	width: 100%;
}
form#login, form#register{
	display: block;
}
article{
    display: flex;
    flex-wrap: wrap;
	margin: 0;
	justify-content: space-around;
	text-align: center;
}
.contentDiv p{
	  display: block;
	  max-width: 20em;
}
.events{
	order: 3;
	align-items: flex-end;
}
.mainContent{
	order: 1;
	box-sizing: border-box;
	text-align: left;
	padding: 2em;
	max-width: 45em;
	align-items: flex-start;
}
.mainContent p{
	height: 5.9em;
	overflow: hidden;
	margin-bottom: 1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.textGradient{
		background: -webkit-linear-gradient(black, #eee);
	 	-webkit-background-clip: text;
	  	-webkit-text-fill-color: transparent;
	}
	.textSolid{
		background: black;
		-webkit-background-clip: text;
	  	-webkit-text-fill-color: transparent;
	}
}
.mainContent h1{
	height: 1em;
}
.more{
	display: block;
	max-width: 10em;
}
.signInTabs{
	order: 2;
    width: 100%;
}
#container{
	margin: 0;
}
@media (min-width: 48em) {

    .signInTabs{
    	width: 33.33%;
    }
    article{
    	width: 66.66%;
    }
    .contentDiv{
    	max-width: 50%;
    }

}
@media (min-width: 64em) {
	.contentDiv{
    	max-width: 25%;
    	width: 20em;
    }
    #container{
		min-width: 50%;
		text-align: right;
		max-width: 80em;
		width: 100%;
	}
}

.logoDiv{
	display: block;
	text-align: center;
	width: 100%;
	max-height: 5em;
}
.logoDiv img{
	max-height: 5em;
}
@media only screen and (max-width :480px){
	.pure-form input[type=text]{
		margin-bottom:  0;
	}
}