body{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-around;
	margin: 0;
}
form{
	margin: 0;
	display: inline-block;
}
table{
	margin: 0;
	margin-bottom: 1em;
}
nav *{
	display: inline-block;
}
nav{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid black;
}
fieldset{
	margin: 0;
	padding: 0;
	border: none;
}
fieldset input{
	float: right;
}
.notification{
	background-color: green;
	color: white;
	width: 100%;
	text-align: center;
	height: auto;
	background-image: url(../img/x.png);
	background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 40%;
}
